.btn-gradient {
	color:white;
	background: linear-gradient(#C800C8, #640064);
	border-radius: 4px;
	padding: 8px 24px;
	margin-top: 1000px;
	margin-bottom: 1000px;
}

.btn-gradient:hover {
	background: linear-gradient(green, lightgreen);
	font-size: 24px;
}